@import '../../../../variables';

.example-header-image{
    background-image: url('../../../../assets/default-pfp.png');
    background-size: cover;
    border: 1px solid;
    border-color: $accent;
  }