@import '../../variables';

.page{
    @apply w-full h-full flex justify-center items-center border-blue-500 ;
}

.main-card{
  background-color: $primary;
  border-color: $accent;
  @apply w-[25em] md:w-[50em] border h-[35em] rounded-2xl shadow-2xl flex justify-center items-center;
}
