@import '../../variables';

.page{
  @apply w-full min-h-screen  flex justify-center items-center;
}

.main-card{
  background-color: $primary;
  border-color: $accent;
  @apply w-[25em] md:w-[50em] border h-[35em] rounded-2xl shadow-2xl flex justify-center items-center;
}
