@import "../variables.scss";

.app-container {
  @apply flex flex-col h-full border-4 border-red-600 w-full  ;
}

.page {
  @apply flex min-h-fit w-full max-w-full bg-neutral-800 border-4;
}
.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  display: flex;
  /* position:sticky; */
  width: 100%;
  border-color: $accent;
  @apply border-b-2;
}

.page-container {
  display: flex;
  width: 100%;
  @apply bg-neutral-800 overflow-x-hidden min-h-full ;
}

.router-container {
  @apply flex min-w-full h-full bg-neutral-800 p-5;
}



.main{
  min-height: 100vh;
  @apply bg-transparent w-full;
}

.mat-drawer{
  background-color: transparent;
  border: none;
}

.container {
  border-color: $accent;
  background-color: $primary;
  width: calc(300px + 1.5em);
  @apply overflow-x-hidden rounded-2xl min-h-full  border-2  flex flex-col items-center   ;
}

.drawer-maincontainer{
  background-color: rgb(38 38 38 / var(--tw-bg-opacity));

}


.option {
  display: flex;
  width: 90%;
  margin: 5px 0px;
}

.option-text {
  display: flex;
  color: white;
  font: 400 16px/24px Roboto, sans-serif;
  letter-spacing: 0.03125em;
}

.option-text:hover {
  color: #fcaf10;
}

.option-textbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.option-container:hover {
  color: #fcaf10;
  border-left: solid 5px #fcaf10;
}




.sub-option {
  margin-left: 20px;
}

.sub-option-text {
  flex-grow: 1;
  color: white;
}

.sub-option:hover {
  color: #fcaf10;
  border-left: solid 5px #fcaf10;
}

.divider {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.icon {
  color: white;
}

.selected {
  color: #fcaf10;
}

.options-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  height: 50px;
}

.options-bar-toolbar {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.options-bar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: 210px;
  max-height: 50px;
}

.headlineMat {
  @apply w-full text-left;
  @media (max-width: 800px) {
    // your media-queried CSS when > xl breakpoint
    @apply hidden
  }
}
