@import "../variables.scss";

.app-container {
  position: absolute;
  display: flex;
  /* background-color: #F5F5F5; */
  flex-direction: column;
  width: 100%;
  @apply bg-neutral-800 overflow-hidden h-full;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  display: flex;
  /* position:sticky; */
  width: 100%;
  border-color: $accent;
  @apply border-b-2;
}

.page-container {
  display: flex;
  width: 100%;
  @apply bg-neutral-800 overflow-x-hidden h-full ;
}



.page {
  @apply w-full h-full min-h-fit bg-transparent m-2;
}



.container {
  min-width: 250px;
  max-width: 250px;
  border-color: $accent;
  background-color: $primary;
  @apply overflow-x-hidden rounded-2xl  border-r-2 min-h-full flex flex-col items-center shadow-2xl  ;
}

.option {
  display: flex;
  width: 90%;
  margin: 5px 0px;
}

.option-text {
  display: flex;
  color: white;
  font: 400 16px/24px Roboto, sans-serif;
  letter-spacing: 0.03125em;
}

.option-text:hover {
  color: #fcaf10;
}

.option-textbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.option-container:hover {
  color: #fcaf10;
  border-left: solid 5px #fcaf10;
}

.sub-option {
  margin-left: 20px;
}

.sub-option-text {
  flex-grow: 1;
  color: white;
}

.sub-option:hover {
  color: #fcaf10;
  border-left: solid 5px #fcaf10;
}

.divider {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.icon {
  color: white;
}

.selected {
  color: #fcaf10;
}

.options-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  height: 50px;
}

.options-bar-toolbar {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.options-bar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: 210px;
  max-height: 50px;
}

.headlineMat {
  @apply w-full text-left;
  @media (max-width: 800px) {
    // your media-queried CSS when > xl breakpoint
    @apply hidden
  }
}
