@import '../../variables';

.page{
  @apply w-full h-full flex justify-center items-center border-blue-500 bg-neutral-800 ;
}

.field{

}

.main-card{
  background-color: $primary;
  border-color: $accent;
  @apply w-[25em] md:w-[30em] border h-[45em] rounded-2xl shadow-2xl flex justify-center items-center p-5 flex-col;
}

.sign-up{
  color: $accent;
}


.logo{
  filter: invert(57%) sepia(99%) saturate(303%) hue-rotate(98deg) brightness(90%) contrast(94%);
}
