$md-primary: (
  50: #e4e4e4,
  100: #bcbcbc,
  200: #8f8f8f,
  300: #626262,
  400: #414141,
  500: #1f1f1f,
  600: #1b1b1b,
  700: #171717,
  800: #121212,
  900: #0a0a0a,
  A100: #e07171,
  A200: #d74747,
  A400: #eb0000,
  A700: #d10000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-secondary: (
    50 : #e8f9f1,
    100 :#c5f1dd,
    200 :#9fe7c7,
    300 :#79ddb0,
    400 :#5cd69f,
    500 :#3fcf8e,
    600 :#39ca86,
    700 :#31c37b,
    800 :#29bd71,
    900 :#1bb25f,
    A100 : #e8fff2,
    A200 : #b5ffd4,
    A400 : #82ffb6,
    A700 : #69ffa7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//test theme
// $md-primary: (
//     50 : #e3f2e6,
//     100 : #badfc0,
//     200 : #8cca96,
//     300 : #5db46b,
//     400 : #3ba44c,
//     500 : #18942c,
//     600 : #158c27,
//     700 : #118121,
//     800 : #0e771b,
//     900 : #086510,
//     A100 : #96ff9d,
//     A200 : #63ff6d,
//     A400 : #30ff3d,
//     A700 : #17ff25,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #ffffff,
//         500 : #ffffff,
//         600 : #ffffff,
//         700 : #ffffff,
//         800 : #ffffff,
//         900 : #ffffff,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #000000,
//     )
// );

// $md-secondary: (
//     50 : #ffe2fd,
//     100 : #feb7f9,
//     200 : #fe88f5,
//     300 : #fd58f1,
//     400 : #fc34ee,
//     500 : #fc10eb,
//     600 : #fc0ee9,
//     700 : #fb0ce5,
//     800 : #fb09e2,
//     900 : #fa05dd,
//     A100 : #ffffff,
//     A200 : #ffeefd,
//     A400 : #ffbbf6,
//     A700 : #ffa2f3,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #000000,
//         500 : #ffffff,
//         600 : #ffffff,
//         700 : #ffffff,
//         800 : #ffffff,
//         900 : #ffffff,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #000000,
//     )
// );
