@use '../node_modules/@angular/material/index' as mat;
@import "palette";

@include mat.core();

$primary-palette: mat.define-palette($md-primary, 500);
$accent-palette: mat.define-palette($md-secondary, 500);

// The "warn" palette is optional and defaults to red if not specified.
$warn-palette: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
 color: (
   primary: $primary-palette,
   accent: $accent-palette,
   warn: $warn-palette,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($theme);
